*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 125vh;
    background-image: url(./image/Myimg1.jpg );
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    font-family: 'Times New Roman', Times, serif;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width:0;
    height: 4px;
    background:orange;
    position: absolute;
    left: 0px;
    bottom: -5px;
    transition: 0.4s;
}
nav ul li a:hover::after{
    width: 100%;

}
.header-text{
    margin-top:250px;
    font-size: 35px;
}

.header-text h1 {
    font-weight: 900;
    font-size: 65px;
    margin-top: 25px;
}

.header-text h1 span{
    color: rgb(220, 67, 67);
}
.header-text p{
    font-size: 30px;
    
}
.header-text p span{
    color: rgb(220, 67, 67);
    font-weight: 600;
}
/* ***********About************* */
#about{
    padding: 80px 0;
    color: #ababab;
}
#row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-colm-1{
    flex-basis: 35%;

}
.about-colm-1 img{
    width: 100%;
    border-radius: 16px;
}
.about-colm-2{
    flex-basis: 60%;

}
.subtitle{
    font-size: 55px;
    font-weight: 600;
    color: white;
}
.about-colm-2 p{
    font-size: 18px;

}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right:50px ;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content:'';
    width: 0;
    height: 3px;
    background: orange;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 16px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/* ************project************ */
#projects{
    padding: 50px 0;
}
.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.project{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.project img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    border-radius: 10px;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.5),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 45px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;

}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 20px;
    line-height: 65px;
    background-color: #fff;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    text-align: center;
}
.project:hover img{
    transform: scale(1.1);
}
.project:hover .layer{
    height: 100%;
}
.project-name ul li{
    font-size: 15px;
    color: #ff004f;
    font-weight: 600s;
}
/* ***********Resume********* */
.Resume{
    padding: 0;
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.Resume button{
    font-size: 30px;
    background-color: orange;
    width: 180px;
    height: 100px;
    border-radius: 30px;
    transition: backgroun-color 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;

}
.Resume button a{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 30px;
    font-weight: 600;
    color: #080808;
    text-decoration: none;
    
}
.Resume button :hover{
    background-color: #ff004f;
    height: 100px;
    border-radius: 30px;
    border: white solid;
}
/* **********contact********* */
.contact-left{
    margin-top: 20px;
    flex-basis: 35%;
}
.contact-Right{
    margin-top: 20px;
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 20px;
}
.contact-left p i{
    color: #ff004f;
    font-size: 30px;
}
.social-icons a i{
    margin-top: 20px;
    font-size: 25px;
    margin-right: 10px;

}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 20px;
    color: #ababab;
    display:inline-block;
    transition: transforms 1s;
}
.social-icons a:hover{
    transform: translatey(-5px);
}
.fb:hover{
    color: #316FF6;
}
.Linkedin:hover{
    color: #0077B5;
}
.Ig:hover{
    color: #FCAF45;
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
    width: 20%;
    margin-left: 15px;
    height: 30px;
    border-radius: 8px;
    margin-top: 20px;
}
.contact-Right form{
    width: 100%;
}
form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262656;
    padding: 15px;
    margin: 15px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 28px 0;
    background: #262656;
    font-weight: 500;
    margin-top: 25px;

}
.copyright i{
    color: #ff004f;
}
/* ***********css for small screen********** */
#fas{
    display: none;
}
@media only Screen and (max-width:1420px) {
    .body{
        min-width: 600px;
    }
    .logo{
        background-image: url(./image/phone-img2.jpg);
        background-size: cover;
    }
    .header-text p{
        margin-top: 70%;
        font-size: 26px;
    }
    .header-text h1{
        font-size: 30px;
    }
    #fas{
        display: block;
        font-size: 25px;
    }
    #sideMenu{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;

        

    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    #fas{
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;
       
    }
    .subtitle{
        font-size: 40px;
    }
    .about-colm-1 , .about-colm-2{
        flex-basis: 100%;
    }
    .about-colm-1{
        margin-bottom: 30px;
    }
    .about-colm-2{
        font-size: 25px;
    }
    .tab-links{
        font-size: 17px;
        margin-right: 20px;
    }
    .Resume{
        display: flex;
        justify-content: center;
        align-items: center;
    }
   .Resume button {
        margin-left: 0;
        width: 150px;
        display: flex;
        align-items: center;
        padding: 0;
        justify-content: center;

    }
    .contact-left ,.contact-Right{
        flex-basis: 100%;

    }
    .copyright{
        font-size: 15px;
    }
    .headng-left{

    }
}